 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%

}

header {
  width:100%;
  height: 46px;
  position:absolute;
  top:0;
  left:0;
  background-color: #1f487c;
}

header img{
  float: left;

  padding-top: 5px;
}

.user-dashboard{
  float: right;
  width: 150px;
  border: 2px dashed yellow;
  height: 100%;
}
#sidebar-wrapper {
    margin-left: -140px;
    left: 40px;
    top: 46px;
    width: 140px;
    //background: #1f497d;
    background: rgb(37,113,164); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NzFhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzUxODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(37,113,164,1) 0%, rgba(23,81,133,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(37,113,164,1)), color-stop(100%,rgba(23,81,133,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2571a4', endColorstr='#175185',GradientType=1 ); /* IE6-8 */

    -webkit-box-shadow: 4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px -1px 16px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 140px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;

    height: auto;
}
#wrapper.active {
    padding-left: 140px;

}
#wrapper.active #sidebar-wrapper {
    left: 140px;


    background: #4f81bd;
    border-right: 8px solid #1d4372;
    border-radius: 2px;

}
#wrapper.active .sidebar-nav-links{
  display: block;
  margin-top: 70px;

}
.sidebar-nav-links {
  list-style-type: none;
  display: none;

  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.sidebar-nav-links li{
  margin-left: -40px;
  padding: 8px;
  margin-top: 10px;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: .06em;
  position: relative;
  font-weight: 300;
  transition: all 0.3s ease;
}

.sidebar-nav-links li{
   text-decoration: none;
    padding-top: 10px;
   font-size: 1.1em;
   color: white;
}

.sidebar-nav-links a{
  text-decoration: none;
}
.sidebar-nav-links li:hover{
  background: #1f487c;
 opacity: .8;
 -webkit-box-shadow: -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}

#page-content-wrapper {
  width: 100%;

}

#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 140px;
}

#main_icon
{
    float:right;
   padding-right: 15px;
   padding-top:20px;

}

.fa-caret-right{
  font-size: 40px;
}
.fa-caret-left{
  font-size: 40px;
}
