 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
//  background: #fafafa;
background: #1f487c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#wrapper {
    padding-left: 40px;
    padding-top: 40px;
    transition: all .4s ease 0s;
    height: 100%

}

header {
  width:100%;
  height: 104px;
  position:absolute;
  top:0;
  left:0;
  background-color: #1f487c;
}

header img{
  float: left;

  padding-top: 5px;
}

.user-dashboard{
  float: right;
  width: 300px;
padding-top: 10px;
  height: 100%;
}

.user-dashboard p{
  font-size: 14px;
  display: inline;


}

.user-dashboard a{
  color: #eeeeee;

  text-decoration: none;
}

.user-dashboard a:hover{
color: #319fff;
text-decoration: underline;
}
.user-dashboard li{
  list-style-type: none;
  display: inline;

  margin-left: 20px;
}

#sidebar-wrapper {
    margin-left: -140px;
    left: 40px;
    top: 46px;
    width: 140px;
    //background: #1f497d;
    background: rgb(37,113,164); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NzFhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzUxODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(37,113,164,1) 0%, rgba(23,81,133,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(37,113,164,1)), color-stop(100%,rgba(23,81,133,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2571a4', endColorstr='#175185',GradientType=1 ); /* IE6-8 */

    -webkit-box-shadow: 4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px -1px 16px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 140px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper.active {
    padding-left: 140px;

}
#wrapper.active #sidebar-wrapper {
    left: 140px;
    background: rgb(43,136,217); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiODhkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjY3OWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(43,136,217,1) 0%, rgba(32,124,202,1) 30%, rgba(59,103,158,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,136,217,1)), color-stop(30%,rgba(32,124,202,1)), color-stop(100%,rgba(59,103,158,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#3b679e',GradientType=1 ); /* IE6-8 */


//    background: #4f81bd;
    border-right: 2px solid  #1f487c;
    border-radius: 2px;

}
#wrapper.active .sidebar-nav-links{
  display: block;
  margin-top: 80px;

}

.fa-angle-right{
  font-size: 40px;
  color: white;

}
.fa-angle-left{
  color: white;
  font-size: 40px;
  padding-right: 5px;
}

.fa-angle-down{
  padding-left: 5px;
}
#main_icon
{
    float:right;
   padding-right: 15px;
   padding-top:20px;

}

.sidebar-nav-links {
  list-style-type: none;
  display: none;

  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.sidebar-nav-links li{
  margin-left: -40px;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: .06em;
  position: relative;
  font-weight: 300;
  transition: all 0.3s ease;
   text-decoration: none;
   padding-left: 10px;
   padding-bottom: 12px;
    padding-top: 12px;
   font-size: 1.1em;
   color: white;
   display: block;
}

.sidebar-nav-links a{
  text-decoration: none;
}


.sidebar-nav-links li:hover{
  background: #1f487c;

 opacity: .6;

 -webkit-box-shadow: -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}

.sidebar-nav-links .sidebar-active-tab{
  background: #1f487c;
   border-top: 1px solid #373737;
      border-bottom: 1px solid #1A1A1A;
 opacity: 1;
 -webkit-box-shadow: -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}


#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 140px;
}


/*Styles for main content*/
#page-content-wrapper {
  width: 100%;
  height: auto;
  padding-left:0;

  margin-left: 0;
  width: 100%;

}

.tabs input[type=radio] {
       position: absolute;
       top: -9999px;
       left: -9999px;
   }
   .tabs {
     min-width: 1000px;
     width:100%;
     float: none;
     list-style: none;
     position: relative;
     padding: 0;



   }
   .tabs li{
     float: left;

   }
   .tabs li .fa{
     padding-right: 6px;
   }
   .tabs label {
       display: block;
       padding: 10px 20px;
       border-radius: 2px 2px 0 0;
       color: white;
       font-weight: normal;
       border-top: 1px solid #1f487c;
       border-right: 1px solid #1f487c;
       border-left: 1px solid #1f487c;
       border-bottom: none;
       //background: white;
       margin-left: -1px;
       cursor: pointer;
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
   }
   .tabs label:hover {
     background: rgba(255,255,255,0.5);
     top: 0;
   }

   [id^=tab]:checked + label {
     color: #2a74ba;
     border-top: 1px solid #2a74ba;
     border-right: 1px solid #2a74ba;
     border-left: 1px solid #2a74ba;
     border-bottom: 1px solid  #ebf1f8;
     border-radius: 2px;
     background:#ebf1f8;
    opacity: 1;
     top: 0;
   }

   [id^=tab]:checked ~ [id^=tab-content] {
       display: block;
   }
   .tab-content{
     z-index: 2;
     display: none;
     width: 100%;
     font-size: 20px;
     background: #ebf1f8;
     color: #222;
     position: absolute;
     top: 39px;
     left: 0;

     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
     -webkit-animation-duration: 0.6s;
     -o-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
     animation-duration: 0.6s;
   }


.work-order-list-container{
  height: 500px;
  width: 100%;

}
