 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//color pallette


$darkblue: #1f487c;
$superlightblue: #ebf1f8;
$lightblue: #337ab7;



// Custom Styles
body {
//background: #fafafa;
background: $superlightblue;
//background:  #ebf1f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

}
///login page

.login-body-container{
  background-color: #eee;
  background-image: url("../images/homepagebanner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;


}

#login-console-container{
  background: rgba(209,209,209,1);
  background: -moz-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 27%, rgba(226,226,226,1) 42%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(27%, rgba(219,219,219,1)), color-stop(42%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 27%, rgba(226,226,226,1) 42%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 27%, rgba(226,226,226,1) 42%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 27%, rgba(226,226,226,1) 42%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 27%, rgba(226,226,226,1) 42%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fefefe', GradientType=1 );
  margin: 200px auto;
  height: 250px;
  box-shadow:0px 0px 60px #000;
  width: 820px;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;

}

#login-console-container img{
height: 100%;
  display: inline-block;



}

#login-console{
  height: 230px;
  width: 405px;
  position: absolute;

  display: inline-block;

}

#login-console h3{
  font-weight: 400;
  margin-top: 10px;
  padding-left: 120px;

}
#login-console .form-horizontal{

  min-width: 600px;
  margin-top: 30px;
}


#login-console .form-group{

 margin-left: 20px;
}


#wrapper {
    padding-left: 40px;
    padding-top: 40px;
    transition: all .4s ease 0s;
    height: 100%;
    background: $darkblue;
    min-width: 1000px;
}

header {
  width:100%;
  background: $darkblue;
  min-width: 1000px;
  height: 50px;
  position:absolute;
  top:0;
  left:0;

}

header img{
  float: left;

  padding-top: 5px;
}

.user-dashboard{
  float: right;
  width: 300px;
padding-top: 10px;
  height: 100%;
}

.user-dashboard p{
  font-size: 14px;
  display: inline;


}

.user-dashboard a{
  color: #eeeeee;

  text-decoration: none;
}

.user-dashboard a:hover{
color:$lightblue;
text-decoration: underline;
}
.user-dashboard li{
  list-style-type: none;
  display: inline;

  margin-left: 20px;
}

#sidebar-wrapper {
    margin-left: -140px;
    left: 40px;
    top: 46px;
    width: 140px;
    //background: #1f497d;
    background: rgb(37,113,164); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NzFhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzUxODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(37,113,164,1) 0%, rgba(23,81,133,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(37,113,164,1)), color-stop(100%,rgba(23,81,133,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(37,113,164,1) 0%,rgba(23,81,133,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2571a4', endColorstr='#175185',GradientType=1 ); /* IE6-8 */

    -webkit-box-shadow: 4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px -1px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px -1px 16px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 140px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper.active {
    padding-left: 140px;

}
#wrapper.active #sidebar-wrapper {
    left: 140px;
    background: rgb(43,136,217); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiODhkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjY3OWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(43,136,217,1) 0%, rgba(32,124,202,1) 30%, rgba(59,103,158,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,136,217,1)), color-stop(30%,rgba(32,124,202,1)), color-stop(100%,rgba(59,103,158,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(43,136,217,1) 0%,rgba(32,124,202,1) 30%,rgba(59,103,158,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#3b679e',GradientType=1 ); /* IE6-8 */


//    background: #4f81bd;
    border-right: 2px solid  $darkblue;
    border-radius: 2px;

}
#wrapper.active .sidebar-nav-links{
  display: block;
  margin-top: 80px;

}

.fa-angle-right{
  font-size: 40px;
  color: white;

}
.fa-angle-left{
  color: white;
  font-size: 40px;
  padding-right: 5px;
}

.fa-angle-down{
  padding-left: 5px;
}
#main_icon
{
    float:right;
   padding-right: 15px;
   padding-top:20px;

}

.sidebar-nav-links {
  list-style-type: none;
  display: none;

  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.sidebar-nav-links li{
  margin-left: -40px;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: .06em;
  position: relative;
  font-weight: 300;
  transition: all 0.3s ease;
   text-decoration: none;
   padding-left: 10px;
   padding-bottom: 12px;
    padding-top: 12px;
   font-size: 1.1em;
   color: white;
   display: block;
   border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
}

.sidebar-nav-links a{
  text-decoration: none;
}


.sidebar-nav-links li:hover{
  background: $darkblue;
  border-top: 1px solid #373737;
     border-bottom: 1px solid #1A1A1A;
 opacity: .6;

 -webkit-box-shadow: -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}

.sidebar-nav-links .sidebar-active-tab{
  background: $darkblue;
   border-top: 1px solid #373737;
      border-bottom: 1px solid #1A1A1A;
 opacity: 1;
 -webkit-box-shadow: -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         -3px 3px 16px 0px rgba(50, 50, 50, 0.75);
}


#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 140px;
}


/*Styles for main content*/
#page-content-wrapper {
  width: 100%;
  height: auto;
  padding-left:0;

  background: $superlightblue;
//min-width: 960px;

  margin-top: 10px;


}

.nav-tabs{

  margin-left: -10px;

}
.nav-tabs li{



}
.tab-container{
  width: 100%;
  height:auto;

  min-width: 760px;
  padding-left: 10px;
  margin-bottom: 8px;
  background-color: $darkblue;


}

.nav-tabs i{
  padding-right: 5px;
}
.nav-tabs>li>a{
  color: white;
  transition: all 0.3s ease;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #2a74ba;
  background: $superlightblue;
}

.nav-tabs>li>a:hover{
  color:#a3b3bf;
  background: none;
  border: 1px solid transparent;
}
.tab-content{
  background: $superlightblue;
  margin-top: 0;
}

table{
  background: white;
}
tbody tr{
  transition: all 0.3s ease;
}
tbody tr:hover{
  background-color: #c8ff00;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
select{
  margin-top: 6px;

  font-size: 16px;
}

#search-program {
  width: 250px;
  margin-top:3px;
}
.work-order-list-container{
  padding: 20px;
  margin-top: 10px;

}
.receive-manifest-container{
  padding: 20px;
  margin-top: 10px;
}
.search-form-container{
  padding: 20px;
  margin-top: 10px;
}

.update-work-order-container{
  padding: 20px;
  margin-top: 10px;
}


#work-order-list-heading a{
  padding-left: 20px;
  font-size: 14px;
}

#work-order-list-heading span{
  padding-left: 20px;
  font-size: 14px;
}

.receive-manifest-console{
  margin: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.receive-manifest-console button{
  margin-left: 10px;
}

.work-order-list-console{
  margin: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.work-order-list-console button{
  margin-left: 10px;
}
#work-order-views{
  width: 250px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#search-input{
  width: 250px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#small-search-button{
  position: absolute;
  margin-left: -140pxpx;
}
.table-footer{
  overflow: auto;
  width: 100%;
  background: $superlightblue;
}

.table-footer p{
  float: left;
  color: $lightblue;
  font-weight: bold;
  padding-top: 25px;
}
.pagination{
float: right;

}
button i{
  padding-right: 5px;
}

.form-horizontal{
  min-width: 1000px;
}
.form-horizontal .control-label{
  text-align: right;
  padding-left: 25px;
}

.form-horizontal input{
  width: 250px;
}


.help-block{
  font-size: 12px;
}


#work-order-info-grid{
    //
    // border-top: 2px solid #ddd;
    // border-bottom: 2px solid #ddd;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
//  margin-bottom: 20px;
  width: 100%;
  height: auto;
  overflow: auto;
 padding: 5px;

}
.tri-column-row{
  clear: both;



}
.alignleft {
	float: left;
  width: 50%;
  height: 35px;
 padding-top: 10px;
  //padding-left: 10px;
  overflow: scroll;
  text-align: right;

}
.alignright {
 padding-top: 10px;
	float: left;
  padding-right: 10px;
  text-align: left;
  width: 50%;
  height: 35px;
  font-weight: bold;
  padding-left: 10px;

}
.alignright span{
  color: #337ab7;
}
.tri-column{
//  padding-top: 20px;
//  background: white;
  padding-bottom: 10px;

  width: 33.33333%;
  float: left;
  font-size: 13px;

  //margin-left: -20px;
  overflow: scroll;
  height: 100%;
}


.panel-heading a{
  padding-right: 20px;

}

.btn-danger{
  background-color: #da2b2b;
}
.work-order-button-container{
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
  width: 780px;
  margin-top: 20px;
  height: 80px;

}
.work-order-button-container button{
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
  width: 150px;
}


.fa-minus-circle{
  padding-right: 15px;
  font-size: 14px;
}
.fa-plus-circle{
  font-size: 14px;
  padding-right: 15px;
}

.update-work-order-container table{
  margin-top: -20px;
}
////progress bar styling goes here////
#work-order-progress-bar{

  width: 100%;
  text-align: center;

}
